<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <app-sidebar></app-sidebar>
        </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1>Importar projetos do Git Lab</h1>

          
      </div>

      <form class="form-inline">
        <div class="form-group mb-4">
          <label for="ProjectId" class="col-mb-4">Id do Projeto</label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" id="ProjectId" #id [value]="">
        </div>
        <button type="button" class="btn btn-primary mb-2" (click)="ImportProject(id.value)">Importar</button>
      </form>

      <div class="card" *ngIf="project">
          
          <div *ngIf="project.isImported; else ImportWarn" class="card-header alert alert-success">
            {{ project.id }} - Projeto Importado com sucesso
          </div>

          <ng-template #ImportWarn>
              <div class="card-header alert alert-warning">
                Projeto não encontrado ou inválido.
              </div>
          </ng-template>

          <div class="card-body" *ngIf="project.isImported">
            <h5 class="card-title">Dados do projeto:</h5>
            <p class="card-text"><strong>Descrição:</strong> {{ project.description }}</p>
            <p class="card-text"><strong>Nome:</strong> {{ project.name }}</p>
            <p class="card-text"><strong>Caminho:</strong> {{ project.path }}</p>
            <p class="card-text"><strong>Criado em:</strong> {{ project.created_at }}</p>
            <p class="card-text"><strong>Status de importação:</strong> {{ project.import_status }}</p>
            <p class="card-text">Para visualizar todos projetos importados, acesse o <a routerLink="/dashboard">dashboard</a>.</p>
          </div>
        </div>

    </main>

    

  </div>
</div>
