<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <app-sidebar></app-sidebar>
        </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

          <app-dashboard-body></app-dashboard-body>
        
      </div>
    
      <app-project *ngFor="let project of projectList" [project]="project"></app-project>

    </main>

  </div>
</div>
