<div class="card" *ngIf="project">
  <div class="card-header alert alert-success">
    {{ project.id }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Dados do projeto:</h5>
    <p class="card-text"><strong>Descrição:</strong> {{ project.description }}</p>
    <p class="card-text"><strong>Nome:</strong> {{ project.name }}</p>
    <p class="card-text"><strong>Caminho:</strong> {{ project.path }}</p>
    <p class="card-text"><strong>Criado em:</strong> {{ project.created_at }}</p>
    <p class="card-text"><strong>Status de importação:</strong> {{ project.import_status }}</p>
  </div>
</div>